[2020-12-01 19:06] jrfnl commented on #1239
Related upstream PRs:
* Support for named parameters in PHPCS itself: squizlabs/PHP_CodeSniffer#3159 and squizlabs/PHP_CodeSniffer#3178 (PR)
* Support for named parameters having been added to PHPCSUtils: https://github.com/PHPCSStandards/PHPCSUtils/pull/235

[2021-01-24 22:28] jrfnl opened #1265 "Review & update links in sniff class docblocks"
As per #1264:

Links to pages removed from the official PHP manual can be updated to refer to the same pages in the [PHP 4](https://php-legacy-docs.zend.com/manual/php4/en/index) and [PHP 5](https://php-legacy-docs.zend.com/manual/php5/en/index) legacy documentation mirrors.

/cc @afilina

[2021-02-03 12:36] LukeWCS commented on #1236
I just wanted to ask exactly the same question as @darthvader666uk, because PHP 8 has also been an issue for us (phpbb.de, phpBB Ext Check) for a few days. In other words, phpBB 3.3.3 is the first version with PHP 8 support.

Thanks to @jrfnl for the detailed answer.

[2021-02-04 08:57] #1265 closed, assigned to nobody

[2021-02-09 13:11] KhalupiakYaroslav opened #1269 "Deprecated PHP function declared with backslash is not included in error reporting"
when checking compatibility with php 8

vendor/bin/phpcs --standard=PHPCompatibility --report-full=report.txt --extensions=php --runtime-set testVersion 8.0 src/

fgetss() - included
\fgetss() - not included

[2021-02-09 20:14] jrfnl commented on #1269
@KhalupiakYaroslav Thanks for reporting this.

This has already been fixed in PHPCompatibility `develop` and the fix will be included in the `10.0.0` release, which will contain a **lot** more PHP 8.0 related checks than the `9.3.5` version does.

If you want to check your code for compatibility with PHP 8, I'd recommend, for now, to use PHPCompatibility `develop` anyhow until the `10.0.0` version

[2021-04-09 01:32] jrchamp commented on #1024
Ran into this today with "'public' is a reserved keyword" from ForbiddenNamesAsInvokedFunctions.

We didn't create the function definition, but it seems to work in PHP 7.0 and newer:
https://github.com/paragonie/paseto/blob/dfbb2b732fc2f1c4365ac41720175ab0097ffca7/src/Purpose.php#L134

[2021-04-09 02:16] jrfnl commented on #1024
@jrchamp I cannot seem to reproduce your issue.

Using this code sample to test with (based on the code in the link):
[code]

On the last released version, `9.3.5` I get no errors for the code sample at all, not when using `testVersion 5.6-`, nor with `testVersion 7.0-`.
On `develop`, I do get errors when using `testVersion 5.6-` - which is correct - and don't get errors when using `testVersion 7.

[2021-04-11 21:32] jrfnl commented on #1163
For future reference: review done based on commit 55bcb00d879ef5cf12337ca6d76263389493a1ef.

[2021-04-13 08:47] sivaschenko opened #1284 "Release a new version"
There are a lot of improvements merged to the develop branch, but the last release was created in Dec 2019.

Could the new stable version/tag/release of PHPCompatibility be published?

Is there anything blocking the creation of a new release?

Can I help with anything to make this happen?

[2021-04-13 14:45] jrfnl commented on #1284
@sivaschenko Not yet, but work is ongoing to get there.

To give you some perspective:

PHPCompatibility 10.0.0 was originally planned as a version to implement [PHPCSUtils](https://github.com/PHPCSStandards/PHPCSUtils), which would mean breaking changes in the sense of a bunch of utility functions and abstract classes being removed from PHPCompatibility itself etc.

Then came the first alpha of P

[2021-04-13 14:45] #1284 closed, assigned to nobody

[2021-04-13 14:55] sivaschenko commented on #1284
Thanks for the detailed answer @jrfnl !

While there are still things to do to get to the 10.0.0 version, is releasing 9.3.6 possible? (at the current state of develop branch)

I guess to provide help from my side I can create a PR for any of the open issues or is there any priority?

[2021-04-13 15:20] jrfnl commented on #1284
No.

As stated above, PHPCSUtils is already interwoven in the current code in `develop` as introduction of that started before all the PHP 8.0 related changes came into play.
The introduction of PHPCSUtils is, in itself, a breaking change as it changes the supported installation methods and the install instructions, so there is no way to release what is in `develop` until there is a stable PHPCSUt

[2021-04-13 16:12] sivaschenko commented on #1284
It looks like the most helpful thing for the release of PHPCompatibility is the release of PHPCSUtils.
Is there a list of things to be done to get PHPCSUtils to 1.0.0?
Any task I can try to implement?

[2021-04-13 16:50] jrfnl opened #1285 "[Project] Add XML documentation for each sniff"
## Project description

Behind the scenes, a side-project has started to create a (GitHub Pages) website for this project with helpful information about the things PHPCompatibility detects and how to fix them.

@afilina has done amazing work creating a documentation generation engine which will create a page with the basic information about each sniff from the docblocks in the sniff code itself.

[2021-04-13 16:52] jrfnl commented on #1284
@sivaschenko I appreciate the (ambigious) offer. I can think of some things, but that should probably be discussed in the [PHPCSUtils](https://github.com/phpcsstandards/phpcsutils) repo as it doesn't directly relate to this repo.

[2021-04-13 16:58] jrfnl commented on #1284
FYI: I've opened an issue to track the documentation project: #1285

[2021-04-15 03:02] #1269 closed, assigned to nobody

[2021-04-15 20:22] jrfnl commented on #1240
PR #1286 should fix most of the bugs which were discussed in this issue.

[2021-04-17 15:19] #1163 closed, assigned to nobody

[2021-04-21 08:41] szepeviktor opened #1287 "Closure::fromCallable is available from PHP 7.1"
https://www.php.net/manual/en/closure.fromcallable.php

Could you please check that?
Thank you.

[2021-04-23 15:49] LukeWCS commented on #1284
@sivaschenko

Sorry that I hijack your topic here. ;)

@jrfnl

This is exactly what I have now realized with our phpBB Ext Check. I have integrated the current development branch as a separate Composer project so that we can work with what is already there. If we notice anything, I'll get in touch. The demo reports are public and are recreated each time the test environment is updated.

FYI:
[Demo

[2021-04-25 02:26] jrfnl commented on #1284
@LukeWCS Thanks for doing that! Please let us know if you find any issues. I know a lot of sniffs still need adjusting for (edge case use of) PHP 8.0 syntax, but for the most part they should work.

[2021-04-25 13:26] LukeWCS commented on #1284
@jrfnl

Of course.

So far I have only noticed very small typing errors in the texts, so absolutely nothing that would justify a report. ^^

Our community (phpBB German) is also informed about the current status of PHPC 10 in Ext Check:
https://www.phpbb.de/community/viewtopic.php?p=1411182#p1411182

Likewise, all test modules in Ext Check that work with the developer version of PHPC 10 are clearl

[2021-05-09 15:55] #1240 closed, assigned to nobody

[2021-05-09 15:59] #638 closed

[2021-05-09 15:59] #793 closed

[2021-07-28 07:01] o5 commented on #1236
Just idea! Is it possible to implement option something like

[code]

My use case: I have a custom standard where some Sniffs are enabled by default when environment is PHP >= 8.0. I have an another library where I using my custom standard and there I would like to support both of 7.4 and 8.0. It fails when I run in PHP 8.0 due to some Sniffs are enabled by default in that PHP version. Currently I

[2021-07-28 09:24] jrfnl commented on #1236
@o5 Your question is unrelated to this issue, please open a separate issue in the future.

Other than that, please have a look at the `testVersion` setting, which I believes is exactly what you are looking for.
https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions

[2021-07-28 09:52] o5 commented on #1236
@jrfnl Sorry for not opening a separate issue. Thanks for a direction, I was not able to do using `testVersion` but this works!

[code]

[2021-07-28 09:58] jrfnl commented on #1236
@o5 That should have no effect at all on the PHPCompatibility sniffs. They function the same cross-version, though I do know there are some PHPCS native sniffs and, for instance, SlevomatCodingStandards sniffs, on which that would have an effect. Both not this repo though.

[2021-07-29 06:16] ihor-sviziev opened #1291 "Import `use` statements are not taken into account when checking names against lists"
On the PHPCompatibility develop branch (I ran on 335cd6bfd678dcc32742641f9e34596b303a4f8a) the following class fails with an error. Looks like it's not processing correctly import my own "use".

My test code looks like this:
[code]

How I tested:
[code]

[2021-07-29 09:18] jrfnl commented on #1291
@ihor-sviziev Thanks for reporting this. This is actually a known issue. The intention is to solve this somewhere in the 10.x series, but the priority is now first on getting 10.0.0 out of the door. It is on my radar however.

[2021-08-23 15:19] #958 closed, assigned to nobody

[2021-08-23 15:19] LukeWCS commented on #958
No longer relevant.

[2021-08-24 00:22] notbasetwo opened #1296 "OpenSRS uses mcrypt which was removed in PHP 7.2.x"
src/bb-library/Registrar/includes/opensrs/openSRS_crypt.php uses mcrypt, which was removed in PHP 7.2.x

This is likely as the OpenSRS module has not been updated since at least 2013, as this was removed from the official OpenSRS toolkit.

There is likely a stopgap to make this work with newer versions of PHP (they did remove this dependency in 2013) -- but they have significantly updated their "P

[2021-08-24 00:23] #1296 closed, assigned to nobody

[2021-08-24 00:23] notbasetwo commented on #1296
Wrong repo!!!!

[2021-08-27 13:11] darthvader666uk commented on #1236
Any updates on PHP 8 Compatibility?

[2021-09-07 14:59] LukeWCS opened #1298 "Question: regarding stability of the cross-compatibility test of 10.0.0"
Hello Juliette

At the moment I am using PHPC 9.3.5 as well as PHPC 10.0.0 in my test suite. I test the PHP versions 5.3 to 7.4 individually with PHPC 9.3.5 and the PHP version 8.0 of course with PHPC 10.0.0.

At the moment I am performing the additional cross-compatibility test (testVersion 5.3-) twice, once with 9.3.5 and once with 10.0.0. Is version 10 stable enough that I can run this test (te

[2021-09-08 00:59] jrfnl commented on #1298
@LukeWCS `develop` (v 10.0.0) is perfectly stable for end-users and I'd highly recommend using that for now until we get v 10.0.0 released properly.

Under the hood there will still be more breaking changes coming in before the release, but for the most part, those won't hugely impact end-users, only people who would extend the standard (but is one of the reasons why 10.0.0 hasn't been released ye

[2021-09-08 09:04] LukeWCS commented on #1298
Yes, your post answers my question precisely, thanks for your time! That's why I'm going to close the issue right away.

There are two things that have arisen from your post:

1. It sounds to me that I could not only run the cross-compatibility test with PHPC 10, but actually all PHPC tests, right?
2. What is meant by this: "error codes will change". Do you mean the sniff names?

[2021-09-08 09:04] #1298 closed, assigned to nobody

[2021-09-08 11:29] jrfnl commented on #1298
@LukeWCS  To answer your remaining questions:

1. Well, if you're not too concerned about potential ignore annotations/excludes in custom rulesets not matching, then, yes, you can.
2. Errorcodes in PHPCS are build up like this: `Standard.Category.SniffName.Code`.
    For #1022 - the `RemovedExtensions` sniff will be removed, and the `Code` part for some of the replacements (which are  already in p

[2021-09-08 13:13] jrfnl opened #1299 "Account for changes introduced in PHP 8.1"
This is just an issue to keep track of which of the [implemented RFCs for PHP 8.1](https://wiki.php.net/rfc#php_81) have been addressed.

This list should be updated when additional RFCs are accepted/implemented.

## To Do
- [ ] [Disable autovivification on false](https://wiki.php.net/rfc/autovivification_false)
- [ ] [Deprecate implicit non-integer-compatible float to int conversions](https://wik

[2021-09-08 18:36] LukeWCS commented on #1298
1. Okay, for 5.3 - 7.4  I will stay with 9.3.5 then.
2. That doesn't seem to affect me as an end user as far as I understand.

Thanks @jrfnl

[2021-09-12 08:47] sarfrazeteam opened #1300 "[FR] Detect use of deprecated class/object methods"
I am trying to check for errors via phpcs and PHPCompatibility standard on a laravel project, here is the command:

    phpcs -psvw app --extensions=php --standard=PHPCompatibility --runtime-set testVersion 8.0

The command works fine. However, I am supposed to receive following error but I am not:

`Deprecated: Method ReflectionParameter::getClass() is deprecated in somefile.php on line 838`

The

[2021-09-12 09:08] jrfnl commented on #1300
@sarfrazeteam Well, the simple answer is: by writing a sniff to detect deprecated and removed class methods.
Such a sniff does not currently exist in PHPCompatibility.

The reason such a sniff does not exist is that for accurate detection of methods on classes, we'd need a way to resolve an object variable to its class and as the code is _tokenized_, not _run_, that's nowhere near as easy as it so

[2021-09-12 09:16] sarfrazeteam commented on #1300
So that simply means we cannot rely completely on PHPCompatibility  _as of now_ when checking things before upgrading ?

[2021-09-12 09:43] jrfnl commented on #1300
@sarfrazeteam You never could and never will be able to in the future either.
You can rely on PHPCompatibility to detect what it can 1) within the limitation of it being static analysis and 2) based on the available sniffs.
You can see the list of available sniffs via `phpcs --standard=PHPCompatibility -e`. You can also have a look at the issue list - particularly the PHP version "meta" tickets -

[2021-09-12 09:46] sarfrazeteam commented on #1300
Right, makes sense, thanks for the explanation

[2021-09-17 23:29] jrfnl opened #1301 "PHP < 7.0: cannot use isset() on the result of an expression"
Given the following code samples:
[code]

Linting this on PHP < 7.0 results in a `Fatal error: Cannot use isset() on the result of an expression (you can use "null !== expression" instead)` error.

Would be nice if we could detect this.

Patterns which _do_ work cross-version:
[code]

I suspect this may be related to the [Uniform Variable Syntax RFC](https://wiki.php.net/rfc/uniform_variable_synta

[2021-10-01 09:56] nise opened #1303 "ERROR: Referenced sniff "PHPCS23Utils" does not exist"
I followed the instructions on how to install the PHPCompatablity directly from git.

If I am running the following command `phpcs -p external.php --standard=PHPCompatibility` I get an error:

`ERROR: Referenced sniff "PHPCS23Utils" does not exist`

[2021-10-01 10:49] jrfnl commented on #1303
@nise The instructions as they are in the README, are for the latest release (`9.3.5`).
We are adding an external dependency for the next version `10.0.0` and I haven't updated the readme yet, so as not to confuse people.

Either check out the `master` branch from your git clone (or the `9.3.5` tag) to run as things were before.

If you want to use bleeding edge (with all the new PHP 8.0 sniffs),

[2021-10-01 12:40] Patrick-Remy opened #1304 "Question: checking compatibility of vendor"
I know libs should properly set their `php` compatibility via composer. But in my case there was a lib using `>=7.0` but wasn't compatible to php 8. Or otherway around, they claim `^7.0 || ^8.0` but aren't compatible to 7.x anymore due to developer bugs.
Therefor my question: Is there a chance to check all my dependencies if they are really compatible to a specific php version? E.g. via autoloadin

[2021-10-04 08:30] akshat-trigunait commented on #1236
@jrfnl HI,
Any updates on PHP 8 compatibility?

[2021-10-04 08:32] jrfnl commented on #1236
When I've had the chance to clone myself. My (lack of) availability is the problem unfortunately.

[2021-10-04 08:57] jrfnl commented on #1303
@nise Did my answer help ?

[2021-10-04 09:00] nise commented on #1303
Thank you! I am using composer now. Its much easier.

[2021-10-04 09:52] akshat-trigunait commented on #1236
Thanks for the reply @jrfnl.
Any tentative timelines/dates will be really appreciated :)
Also, is there any means by which we can have an idea about the state of current sniffs(already done vs remaining)?

[2021-10-04 10:05] jrfnl commented on #1236
See the issue list, most notably the pinned issues listing the RFCs.

[2021-10-04 10:06] jrfnl commented on #1303
@nise Glad to hear it. Does this mean we close this issue ?

[2021-10-04 10:18] nise commented on #1303
yes, close it.

[2021-10-04 10:50] #1303 closed, assigned to nobody

[2021-10-25 07:53] ghost opened #1305 "Arrow function syntax"
"phpcompatibility/php-compatibility":"9.3.5"

### Problem
I have source code which contains following code
[code]

I want to test my code for PHP 7.1 compatibility
I use following CLI  `./vendor/bin/phpcs -p app/code/Custom/ --standard=PHPCompatibility --runtime-set testVersion 7.1`

And it doesn't show me any error.

But I know that Arrow function syntax is only allowed since PHP 7.4. So my code

[2021-10-25 09:56] jrfnl commented on #1305
@vladyslav-sikailo-decima Could you please check with the `develop` branch ? There have been a lot of changes and enhancements, including detection of arrow function, which have not been released yet (for reasons).

[2021-11-22 16:32] willrowe commented on #1244
Just ran into this issue when deploying to a non-dev server. I should have thought of it, but the README should also be updated.

[2021-12-01 18:28] villfa commented on #1301
Here the RFC you're looking for: https://wiki.php.net/rfc/empty_isset_exprs

[2021-12-01 18:42] jrfnl commented on #1301
@villfa Unfortunately that's not the right RFC.

The RFC you referenced applies only to `empty()`. It was approved and merged into PHP 5.5 and is covered by the [`PHPCompatibility.LanguageConstructs.NewEmptyNonVariable`](https://github.com/PHPCompatibility/PHPCompatibility/blob/develop/PHPCompatibility/Sniffs/LanguageConstructs/NewEmptyNonVariableSniff.php) sniff.

The change above is about `isset

[2021-12-01 19:03] villfa commented on #1301
My bad. I just notice the result of the vote excluded isset().

[2021-12-02 18:09] aadmathijssen opened #1306 "Installing the development version as a Composer dependency"
Hi,

I noticed that the latest official release/tag of this package is now almost two years old. Looking at the commits on the `develop` branch, I saw that a incredible amount of work has been done to improve checks for PHP 8.0 and older versions.

So I tried to install the latest `dev-develop` package as a dependency using the following command:

[code]

However, this gave the following error aft

[2021-12-03 04:21] jrfnl commented on #1306
@aadmathijssen Thanks for leaving this information here. I believe it may well help others who want to use the `develop` branch while waiting for the 10.0.0 release.

I'm going to leave the issue open for now to improve the chances of other people finding it.

And yes, would be lovely to be able to get back to finishing off the release. If only PHP would slow down for a moment so I could actually

[2021-12-07 12:13] vladsf commented on #638
indeed installed_paths: shall contain no symlinked paths.

[2021-12-09 02:03] BHSPitMonkey commented on #961
I just ran into a similar issue with a namespaced class `Foo\Split`, which when used in a line like `Split::doSomething();` triggers the error:

`Function Split() is deprecated since PHP 5.3 and removed since PHP 7.0; Use preg_split() instead`

This seems like something static analysis should be smart enough to handle, since

- There is a `use Foo\Split;` statement at the top of this file, leaving

[2021-12-09 08:11] jrfnl commented on #961
@BHSPitMonkey Could you provide a code sample with which your issue can be reproduced ? Also: what version of PHPCompatibility are you using ?
Class names like that should not be flagged and the sniff contains safeguards for it, so I'd like to see why it would do so with your code sample.

[2021-12-10 00:47] BHSPitMonkey commented on #961
Here's an example repo with a minimal repro case: https://github.com/BHSPitMonkey/phpcompatibility-test

Using: `"phpcompatibility/php-compatibility": "^9.3"` (locked to 9.3.5 in this example)

The file that triggers the sniff error:

[code]

And the result:

[code]

[2021-12-10 01:18] jrfnl commented on #961
@BHSPitMonkey Ah, that was actually fixed quite a while back in the above referenced PR #962.

[2021-12-10 02:45] BHSPitMonkey commented on #961
Oh, oops! I guess it's just been a couple years since the last release was tagged. I'll try to remember to install from `develop` from now on. Thanks for the reply!

[2021-12-26 01:25] jrfnl opened #1308 "Remove Scrutinizer integration"
... as it hasn't been reporting back for a while.

We could consider replacing it (at some point in the future) with PHPStan or Psalm.

[2022-01-05 19:06] KapitanOczywisty opened #1309 "PHPCompatibility.Operators.RemovedTernaryAssociativity.Found with match"
I have false error, with weirdly specific conditions:
[code]
[code]
This is minimal code for error to occur.
1. `match` have to be used, when replaced with `array`, the error is gone
2. function with 2 arguments must be called - anything less - the error is gone
3. there must be second ternary, if removed - the error is gone

Also taking the second ternary into parenthesis, removes error.

[2022-01-05 23:32] jrfnl commented on #1309
@KapitanOczywisty Thanks for reporting this. Could you tell me with which PHP, PHPCS and PHPCompatibility versions you're getting this error ?

I realize it's been a while since the last release (for reasons), but based on a quick test with the `develop` branch of PHPCompatibility, this issue has already been fixed.

[2022-01-06 01:08] KapitanOczywisty commented on #1309
php 8.0, phpcs 3.6.2, phpompatibility 9.3.5 I've tried to install develop version, but this ended with internal errors, so I'm unable to confirm that. Would be nice to make online validator somewhat like [psalm](https://psalm.dev/) - this could be useful for testing.

[2022-01-12 15:21] johnbillion opened #1310 "Check for magic `__serialize()` and `__unserialize()` methods needs to account for `Serializable`"
In order to implement custom PHP serialization that's compatible with PHP versions 5.6 through 8.1 you need to implement both the `__serialize()` and `__unserialize()` methods and also implement the `Serializable` interface.

The reason for this is that `__serialize()` and `__unserialize()` are only supported in PHP >= 7.4, so `Serializable` needs to be used for earlier versions. However `__serial

[2022-01-12 15:27] jrfnl commented on #1310
Hi @johnbillion I totally agree. Unfortunately work on adding support for everything PHP 8.1 related hasn't really started yet (for reasons). This should definitely be addressed as part of that though.
Also see #1299

[2022-01-12 23:22] bendauphineewp opened #1311 "Unable to get stock install working, cannot declare class errors"
I followed the directions for install by composer (https://github.com/PHPCompatibility/PHPCompatibility#installation-in-a-composer-project-method-1)

I run the standard command php phpcs.phar -p --standard=PHPCompatibility

And I get these errors:

PHP Fatal error:  Cannot declare class PHPCompatibility\Sniffs\FunctionUse\RequiredToOptionalFunctionParametersSniff, because the name is already in us

[2022-01-13 00:58] jrfnl commented on #1311
Duplicate of #638, #793 and #1042.

One of the finding in those issues was that symlinks are problematic, another that including the standard by including the ruleset instead of including by name was problematic.

There is an underlying problem which has to do with how PHPCS works, but it should only crop up in very rare cases. The underlying problem has been solved and the fix will be included in

[2022-01-13 00:58] #1311 closed, assigned to nobody

[2022-01-13 02:32] bendauphineewp commented on #1311
For those of you who end up here via Google in the future, the solution for me was to update the CodeSniffer.conf file that was created when I installed the standard. It had been set to a relative path, and I updated it to an absolute path.

<?php
 $phpCodeSnifferConfig = array (
  'installed_paths' => '/var/www/current/vendor/phpcompatibility/php-compatibility',
)

[2022-01-13 11:09] jrfnl commented on #1311
@bendauphineewp Thanks for adding that information, that's useful to know.

[2022-01-19 15:24] elistone commented on #1244
+1 that this should be added to the readme, was having issues with deployments.

[2022-01-19 16:16] jrfnl commented on #1244
I hear you all. I'm really hoping to be able to get back to this project soonish, which would lead to the release of 10.0. With the changes in that, you won't need the scripts anymore, so that should solve the issue either way.

For now, I'm leaving this issue open to make it easier to find if people run into this in the mean time.

[2022-01-19 16:18] willrowe commented on #1244
Thanks @jrfnl! Is there anything you could use help with for v10?

[2022-02-01 04:49] 8ctopus commented on #1305
For those like me wondering how to switch to the development branch, here's the recipe. Add to composer.json:

[code]

[2022-02-01 04:53] 8ctopus commented on #1305
This issue is fixed using development branch

[code]

[code]

[2022-02-01 04:57] 8ctopus opened #1312 "Suggest using development branch in README.md"
PHPCompatibility 9.3.5 was released on December 27, 2019 and PHP 8.0.0 was released on November 26, 2020.

As a consequence using PHPCompatibility 9.3.5 has lots of issues with PHP 8 code, so it would seem wise to suggest to use the development branch of PHPCompatibility in the README.

I can prepare a pull request if wanted.

[2022-02-01 07:21] ghost commented on #1305
I hope it will be released

[2022-02-01 07:21] #1305 closed, assigned to nobody

[2022-02-01 08:11] 8ctopus commented on #1305
@vladyslav-sikailo-decima just use the development branch for linting your code.

[2022-03-08 11:16] #1308 closed, assigned to nobody

[2022-03-08 12:22] dnsahoo commented on #796
We are still getting the warning on following code:

[code]
Here is the warning:

 339 | WARNING | Since PHP 7.0, functions inspecting arguments, like debug_backtrace(), no longer report the original value as passed to a parameter, but will instead provide the current value. The parameter "$key" was used, and
     |         | possibly changed (by reference), on line 338.

[2022-03-09 02:12] jrfnl commented on #1310
PR #1330 partially addresses this. Testing appreciated.

[2022-03-09 03:17] jrfnl commented on #1310
PR #1331 addresses the second part of this issue. Again: testing appreciated.

[2022-03-16 13:08] kishor10d opened #1332 "Returning References methods - Curly brace syntax for accessing array elements"
The methods (Returning References - https://www.php.net/manual/en/language.references.return.php) having ampersand (&) sign also captured under the "Curly brace syntax for accessing array elements" error.

[code]

Above code is from smarty library (path - smarty/Config_File.class.php). The method ```get_key()``` having ```&``` sign in actual code file.

Do we have any special implementation to upg

[2022-03-16 13:38] jrfnl commented on #1332
@kishor10d Sorry, but I don't understand what you are reporting.

1. The error shown in the above report block has nothing to do with references.
2. The code sample does not produce the error shown, or even any PHPCompatibility error at all (presuming it is placed in a class method).
3. The [Smarty](https://github.com/smarty-php/smarty) repo does not contain a `smarty/Config_File.class.php` file.

[2022-03-16 15:35] kishor10d commented on #1332
For the previous example, actually I haven't used the latest smarty package. I have another example of html2pdf package

[code]
Filepath: html2pdf-master/src/MyPdf.php
Repository URL: [MyPdf.php](https://github.com/spipu/html2pdf/blob/master/src/MyPdf.php)

Please check once, before rejecting the issue.

[2022-03-16 15:51] jrfnl commented on #1332
@kishor10d I haven't just checked once, I have actually checked **_three_** times now and I still don't know your problem.

As I said in my comment above:
1. Tell us what the actual problem is you need help with.
2. Show the command you use to run PHPCompatibility - including the `testVersion` you use.
3. Show a small, but complete, code sample with which to reproduce the issue.

I tested the orig

[2022-03-16 16:44] kishor10d commented on #1332
@jrfnl

[code]
Above 2 commands I have used to generate the deprecated functions list. My current version is 7.2 and migrating on 7.4.

When I run above 2 commands "deprecated.txt" file will generate and it is having the list of errors which are need to migrate for 7.4. One of them is "Curly brace syntax for accessing array elements and string offsets has been deprecated in PHP 7.4" this issue.

I

[2022-03-16 19:25] jrfnl commented on #1332
@kishor10d I've tried again and now specifically with the `9.3.5` version and still cannot reproduce the issue with any of the code samples.... I honestly don't know what more I can do.

That code sample just doesn't generate that error.

The curly brace sniff uses the `NewFunctionArrayDereferencing` sniff under the hood to determine if this is a function call being dereferenced:
https://github.co

[2022-03-20 15:14] jrfnl commented on #1332
@kishor10d Could you confirm that you weren't using PHPCompatibility > 9.3.0 ?

[2022-03-31 04:39] jrfnl commented on #1332
As I haven't heard back and this issue could be reproduced, but only with PHPCompatibility < 9.3.0, I'm going to presume that was the problem and will now close this issue.

If that wasn't the problem and there is more information available on how to reproduce this consistently on PHPCompatibility `9.3.5` or `develop`, please leave a comment to that effect and the issue can be reopened.

[2022-03-31 04:39] #1332 closed, assigned to nobody

[2022-03-31 04:47] jrfnl commented on #1304
@Patrick-Remy The only thing I can suggest is to include your non-dev dependencies from the `vendor` directory in the scan with PHPCompatibility. PHPCompatibility doesn't autoload the `use`d classes, but when told to do so, will tokenize and analyse them.
It still won't catch everything due to the nature of static analysis, but should at least catch the same things as would be caught by PHPCompati

[2022-03-31 19:54] jlstrecker commented on #1312
Good point — it took me a while to figure out why PHPCompatibility 9.3.5 wasn't reporting any errors.

I had used "Installation via a git check-out to an arbitrary directory (method 2)". I then tried the `develop` branch in place of the 9.3.5 release, but ran into [this error](https://github.com/PHPCompatibility/PHPCompatibility/issues/1303).

When I instead used "Installation in a Composer projec

[2022-03-31 21:22] jrfnl commented on #1312
I'm hoping to get PHPCompatibility 10 released within the next three months.

Once that has been released, option 2 of the install methods will no longer be supported.

[2022-04-01 11:07] 8ctopus commented on #1312
Just to make it clearer for others reading this issue, the way to install the development branch is:

[code]

[2022-04-11 08:41] jrfnl commented on #1304
Closing as answered without follow-up questions.

[2022-04-11 08:41] #1304 closed, assigned to nobody

[2022-04-11 08:56] jrfnl commented on #1309
Closing as not reproducible.

[2022-04-11 08:56] #1309 closed, assigned to nobody

[2022-04-14 19:53] #1310 closed, assigned to nobody

[2022-04-20 22:11] Jumoke commented on #1312
Thank you!

[2022-05-25 18:32] divinity76 opened #1337 "infinite loop in 8.1 check"
## Bug Description
encountered an infinite loop on a large proprietary codebase, it has been stuck on 20+ hours with this output:
[code]

using 100% cpu-of-1-core and strace says it hasn't issued a single syscall for several hours either.

- is there any known infinite loop bugs? the codebase in question is proprietary, i cannot share it, and stripping the code down to a minimal reproducible sampl

[2022-05-25 21:04] jrfnl commented on #1337
Hi @divinity76 Thanks for reporting this. This may be an issue in PHPCompatibility or in PHP_CodeSniffer, so yes, we do need some more information.

I can see in your report that you are running PHPCompatibilty with the last release `9.3.5`. A lot of work has been done in the `develop` branch since and nearly all PHP 8.0 and 8.1 checks are in that branch, not in the last release.
Unfortunately, we

[2022-05-26 12:33] divinity76 commented on #1337
@jrfnl

thanks! i think i found it, it's possible that i just didn't give it enough time, but it seems to get stuck indefinitely on an IE7 compatibility css file! name `fontAwesomeIE7.css` - not sure why it even bothers scanning CSS files, anyhow that file alone seems to cause the hanging! link: [fontAwesomeIE7.css.zip](https://github.com/PHPCompatibility/PHPCompatibility/files/8778803/fontAwesome

[2022-05-26 13:50] wimg commented on #1337
By default phpcs will scan all files. To avoid this, specify --extensions=php (or other extensions, comma-separated, if you need more).

[2022-05-26 13:54] jrfnl commented on #1337
@divinity76 Ah, I see. Yes, PHP_CodeSniffer scans PHP, JS and CSS files by default, but JS and CSS support will be removed in the next PHPCS major (4.x).

Even though the PHPCompatibility sniffs don't actually _act_ on JS or CSS files, PHPCS will still tokenize them and walk through the tokens. The fact that there are no sniffs listening for JS/CSS files is only taken into account after the tokeni

[2022-05-26 20:45] divinity76 commented on #1337
neat, thanks. not sure ill bother reporting it upstream.
anyhow, guess this issue should be closed? perhaps with an "upstream issue" label?

[2022-05-26 20:58] divinity76 commented on #1337
reported upstream: https://github.com/squizlabs/PHP_CodeSniffer/issues/3598

[2022-05-26 21:55] jrfnl commented on #1337
@divinity76 Thanks! And yes, I'll close this issue. We don't have an `upstream issue` label, so I'm closing it as `invalid` as it is not an issue with the functionality in this repo.

[2022-05-26 21:55] #1337 closed, assigned to nobody

[2022-05-30 08:50] divinity76 opened #1338 "Delete or rename the master branch?"
Can we delete or rename the master branch? Fwiw at my job the master branch has been renamed to "old-do-not-use-master"

I recently wanted to install the current dev-version of PHPCompat, the first thing I tried was to request version "dev-master" in composer.json - and it worked! Took some time to figure out that I got an ancient 2018 version from doing that, and the correct request is "dev-devel

[2022-05-30 09:15] jrfnl commented on #1338
@divinity76 The `master` branch is the release branch and considered stable, the `develop` branch is, as the name suggests, the `develop` branch, so no, `master` will not be deleted. We may consider renaming it to `stable`, but that's it.

[2022-05-30 09:15] #1338 closed, assigned to nobody

[2022-05-30 11:48] divinity76 opened #1339 "doesn't recognize code wrapped in PHP_MAJOR_VERSION-checks as safe for 8.1"
## Bug Description

it doesn't recognize code wrapped in if(PHP_MAJOR_VERSION <8){...} checks as safe for php8.1

## Given the following reproduction Scenario

[code]

The issue happens when running this command:

[code]

... over a file containing this code:
[code]

... with this custom ruleset:
[code]

### I'd expect the following behaviour

no complaint? it's inside a PHP_MAJOR_VERSION check?

[2022-05-30 12:26] jrfnl commented on #532
Just FYI: we've started adding XML-based documentation for sniffs. See #1285 for the current status.

[2022-05-30 12:27] jrfnl commented on #908
Closing as fixed by the linked pull requests.

[2022-05-30 12:27] #908 closed

[2022-05-30 12:30] jrfnl commented on #1339
Duplicate of #569 - please see my answer posted there: https://github.com/PHPCompatibility/PHPCompatibility/issues/569#issuecomment-356922812

[2022-05-30 13:03] divinity76 commented on #569
i agree that it's basically impossible to do perfectly (or even near perfectly), but detecting "simple cases" like
[code]
is within the realm of possibility imo.

if the PHPCompatibility project has no interest in this kind of detection, i might give it a go myself

[2022-05-30 13:21] jrfnl commented on #569
@divinity76 It's not that there's no interest, it's that it is neigh impossible. Having said that, please feel free to have a go at this yourself and I look forward to your pull request.

[2022-05-31 01:19] #1339 closed, assigned to nobody

[2022-05-31 07:28] divinity76 commented on #569
@jrfnl sure it's basically impossible to do perfectly, but this seems to be good enough for both #569 and #1339 ?
https://github.com/divinity76/php-runtime-version-check-remover

[2022-05-31 07:31] jrfnl commented on #569
@divinity76 Yikes... sorry, that's most definitely not something I'd ever recommend, but hey, if it works for you... 🤷🏻‍♀️

[2022-05-31 07:32] divinity76 commented on #569
@jrfnl why not, and do you have a better idea?

[2022-05-31 07:37] jrfnl commented on #569
@divinity76 I already spelled them out, not going to repeat myself.

[2022-05-31 07:43] divinity76 commented on #569
@jrfnl well ***it works*** - codepaths like
[code]
and
[code]
are no longer falsely flagged.

[2022-05-31 08:32] divinity76 commented on #1339
workaround: https://github.com/divinity76/php-runtime-version-check-remover

[2022-05-31 10:57] wimg commented on #569
That's like giving an aspirin for someone with a serious condition... it might get rid of the pain, but it's not a solution.
Definitely not something we want to include in PHPCompatibility by default.
The suggestions above are the ones to use : https://github.com/PHPCompatibility/PHPCompatibility/issues/569#issuecomment-356922812

[2022-05-31 23:21] jrfnl commented on #1339
Note from the maintainers: we don't condone or recommend the posted work-around.

[2022-06-01 08:11] divinity76 opened #1340 "phpcompatibility.com is down"
httpS serves with a certificate not valid for phpcompatibility.com , and the http page looks like
![image](https://user-images.githubusercontent.com/1874996/171358466-fc7b21ab-5904-4d16-8899-4bdbfe8bee40.png)

[2022-06-01 10:45] wimg commented on #1340
The certificate is not invalid, there simply isn't one yet.
We're aware that the URL is not functioning at this point. Github Pages has been acting up for several months now. We'll look into it.

[2022-06-01 12:08] jrfnl commented on #1340
Note: we never published the site yet, so the 404 is expected. The intention is/was to launch it alongside with PHPCompatibility 10.0.0.

P.S.: that's also the reason the URL is not published anywhere yet.

[2022-06-01 12:41] jrfnl commented on #1340
Closing this as "invalid" as the site was never published yet.

[2022-06-01 12:41] #1340 closed, assigned to wimg

[2022-06-01 13:03] divinity76 commented on #1340
@jrfnl it's published on https://github.com/PHPCompatibility
![image](https://user-images.githubusercontent.com/1874996/171410715-11935c9e-28b7-4064-80d2-735eb4f73a52.png)

@wimg technically speaking it DOES serve a TLS certificate, but the certificate served is not valid for phpcompatibility.com:
[code]

[2022-06-01 13:20] divinity76 opened #1341 "false positive on "<?php foreach(["a"=>[]] as $v){}""
## Bug Description

false positive on `<?php foreach(["a"=>[]] as $v){}`

## Given the following reproduction Scenario

scan the code `<?php foreach(["a"=>[]] as $v){}`

The issue happens when running this command:

[code]

... over a file containing this code:
[code]

... with this custom ruleset: N/A

### I'd expect the following behaviour

no error, it's legal code.

### Instead this happened
[

[2022-06-01 13:28] jrfnl commented on #1340
@divinity76 Interesting. Thanks for pointing that out. I think I'll leave it for now in hopes of getting 10.0.0 out of the door sooner rather than later, but in case of further delays, we may want to remove it from there for the time being.

[2022-06-01 13:30] jrfnl commented on #1341
@divinity76 Nice find! Thanks for reporting this.

I suspect this will be solved once PHPCSUtils 1.0.0-alpha4 comes out, but I'll test it later today to be sure.

[2022-06-01 13:33] jrfnl commented on #1341
@divinity76 One question - what version of PHP_CodeSniffer are you using ? `PHP_CodeSniffer version | 7.3.0-dev` is not a valid/recognizable version.

[2022-06-01 13:35] divinity76 commented on #1341
@jrfnl honestly don't know, it doesn't appear to be a real "7.3.0" release, but it identifies itself as version 7.3.0, in any case, it's the version i get from running `composer install` over this composer.json:
[code]

[2022-06-01 13:35] jrfnl commented on #1341
@divinity76 Could you run `composer info` ? That should show the version installed. I suspect it will show `3.6.2`, but I'd like to be sure.

[2022-06-01 13:37] divinity76 commented on #1341
@jrfnl
[code]

[2022-06-01 13:38] jrfnl commented on #1341
Ah, `dev-master`. Thanks.

[2022-06-01 18:16] jrfnl commented on #1341
I've just tested against the WIP branch I have locally to improve the short array/short list determination and I have confirmed that this issue will be fixed by the improvements included in that branch.

[2022-06-03 20:21] wharris1 opened #1342 "The program phcs exits with error code 255 at %15 of a directory scan"
## Bug Description
The program phcs exits with error code 255 at %15 of a directory scan.

## Given the following reproduction Scenario
[code]

### I'd expect the following behaviour
I'd expect to see the directory being 100% processed and the report printed out to the STDIN.

### Instead this happened
Instead, the program stopped with error code 255.  There is no error message.

## Environment
$

[2022-06-03 23:36] jrfnl commented on #1342
@wharris1 I suspect this is not a PHPCompatibility issue as such. Most likely the process is running out of memory as scans of large code bases can take quite a bit of memory.

First, make sure you are only scanning PHP files as PHPCS by default will also tokenize CSS and JS files and skipping those will help.
You can do so by using `--extensions=php` on the command line. See https://github.com/PH

[2022-06-07 07:57] jrfnl commented on #1342
@wharris1 Just checking - did any of my suggestions fix this for you ?

[2022-06-07 22:28] wharris1 commented on #1342
Hi!  Sorry about my delay.  I'm only getting to them now.  Please give me a day to get back and provide you with a proper report.  (On a quick glance, your feedback makes a lot of sense.  But let me look deeper.  Thank you!)

[2022-06-11 02:10] wharris1 commented on #1342
Dear @jrfnl, thank you for your patience.  Your answer is great and your first suggestion did the trick.  I ran the command `phpcs -p . --standard=PHPCompatibility --extensions=php,inc` was actually all I needed to get it to work.

My PHP memory_limit was set to 512M.  So perhaps CSS and Javascript exhausted this memory.  I wonder if it was the Linux OOM killer killing the process of if it was PHP

[2022-06-11 02:10] #1342 closed, assigned to nobody

[2022-06-11 02:38] jrfnl commented on #1342
@wharris1 Happy to hear it solved your problem and I wish you cross-version compatible code ;-)

[2022-06-13 20:38] voku commented on #1312
Thanks for the information. 👍

[2022-06-22 15:15] kschatzle commented on #1303
For posterity.
If you do use `--config-set installed_paths` after installing the develop branch you will also get this error. I had it running via composer on a post-install-cmd.

[2022-06-22 15:35] jrfnl commented on #1303
@kschatzle Correct, that's now handled automatically by the Composer PHPCS plugin, which as of the next release will be a run-time (non-dev) requirement.

When we release, these things will all be mentioned in the changelog/upgrade guide.

[2022-06-24 09:48] croensch commented on #1303
I've already used composer and removed the installed_paths setting now. In three projects it works, but in one it does not. The projects are quite similar so i don't know what's happening. Any pointers to investigate would be appreciated!

[2022-06-24 10:00] jrfnl commented on #1303
@croensch Is the project public ? I can try and have a look.
Also: the `installed_paths` can also be set from within a ruleset, in that case, that would need to be removed too.

[2022-06-24 10:04] croensch commented on #1303
@jrfnl not a public project
`composer -i` always runs the plugin
[code]
The problem seems to be that only the last absolute path (`vendor/...`) ends up in the config file. Also the other projects only have the relative paths.

[2022-06-24 10:11] jrfnl commented on #1303
@croensch Hmm... you're right, that doesn't look right (that second phpcompatibility path).

I have a niggly feeling I already fixed that bug, but would need to verify. Could you open an issue in the [Composer PHPCS plugin](https://github.com/PHPCSStandards/composer-installer/issues) repo to make sure I look at that before the 1.0.0 release of the plugin ?

[2022-06-24 10:12] jrfnl commented on #1303
It may actually be related to issue https://github.com/PHPCSStandards/composer-installer/issues/156

[2022-06-27 10:12] croensch commented on #1303
Found in my **composer.json**:
[code]
I removed it and it works now.
Seemed to conflict with the plugin that automatically puts the relative paths.

(Before that i did remove the `--config-set installed_paths` from the command call in _ant_, that's why it was confusing).

[2022-06-27 10:36] jrfnl commented on #1303
@croensch Thanks for getting back to me and happy to hear you found the root cause of the issue.

[2022-06-27 15:58] croensch commented on #1303
Unfortunately it still bugs out in PHPStorm 2022.1.2 on that project as well as the other projects too. I don't know how the PHPStorm integration is calling it so i can't really help here.

[2022-07-06 16:41] mbomb007 opened #1343 "Using $this in enum method"
## Bug Description

When using `$this` in an [enum method](https://www.php.net/manual/en/language.enumerations.methods.php) in PHP 8, I receive this:

(PHPCompatibility.Variables.ForbiddenThisUseContexts.OutsideObjectContext)

## Given the following reproduction Scenario

The issue happens when running this command:

[code]

... over a file containing this code:
[code]

### I'd expect the followin

[2022-07-25 15:00] jrfnl commented on #1343
@mbomb007 Thanks for reporting this.

Dev notes: For PHPCS 3.7.0, this should automatically be fixed after the update of PHPCSUtils to 1.0.0-alpha4.
For PHPCS < 3.7.0, this will need tracking of the start/end of enums.

[2022-08-13 22:56] johnrodwell-affinity opened #1344 "Errors coming up as warnings?"
Hi. I am running PHP compatibility tests on our code using the following command...

./phpcs.phar -p --standard=PHPCompatibility --runtime-set testVersion 8.1 --report-file=output.txt --extensions=php [path to files]

... And I am getting what I think might be incorrect output. Either that or I'm doing something wrong. The following is an example:

699 | ERROR   | Assigning the return value of new

[2022-08-13 23:17] jrfnl commented on #1344
@johnrodwell-affinity You're 100% right and this has already been updated in the `develop` branch. Unfortunately, the release has been delayed (for reasons), which is why you're not seeing the updated error message yet if you are using PHPCompatibility 9.x.

[2022-08-14 01:27] johnrodwell-affinity commented on #1344
@jrfnl Thank you! Glad I wasn't just using the software incorrectly. I'll switch to your develop branch branch (stable enough I assume?) and wait for the new release.

[2022-08-14 01:40] jrfnl commented on #1344
@johnrodwell-affinity `develop` is pretty darn stable, though we won't offer support for non-Composer installs anymore (still perfectly possible to do if you know what you are doing, but you'll need to install a secondary external standard - PHPCSUtils).

Most of the breaking changes in 10.0 are "under the hood" kind of changes. For end-users the breaking part is the changes in the installation in

[2022-08-17 08:29] voku commented on #1303
I could fix my issue by something like: `--runtime-set installed_paths ' . DIR_APP . 'scripts/githooks/StandardVdmg/,' . DIR_FRAMEWORK . 'thirdparty/composer/phpcsstandards/phpcsutils/PHPCS23Utils,' . DIR_FRAMEWORK . 'thirdparty/composer/phpcompatibility/php-compatibility \` ... so I just needed to add "PHPCS23Utils" here.

[2022-08-31 17:13] MPParsley opened #1345 "Hexadecimal strings are still supported"
## Bug Description
Hexadecimal strings cause an error.

## Given the following reproduction Scenario
The following code:
[code]

See https://github.com/sop/asn1/issues/19 & https://github.com/sop/asn1/pull/18.

The issue happens when running this command:

[code]

over a file containing this code:
[code]

### I'd expect the following behaviour
No Error.

### Instead this happened
[code]

## Enviro

[2022-09-04 10:16] jrfnl commented on #1345
@MPParsley Thanks for reporting this. How do you suggest we handle this ? Keep in mind, PHPCS cannot trace a variable throughout an application.

The above code sample could be handled by ignoring hex numeric strings when encountered in `gmp*()` function calls, however, as soon as the hex numeric string would be passed in to the function as a variable and defined elsewhere, the sniff would not be

[2022-09-05 17:54] theMikeD commented on #1312
Just wondering when we can expect v10? I have a few projects with VIP and they suggest using this tool, but their solution to getting 10ish working as 9ish is a [hacky kludge](https://docs.wpvip.com/how-tos/code-scanning-for-php-upgrade/#Upcoming-releases-of-PHPCompatibility) to get 10 acting as 9.99.99 and it's messing up every other composer package.

[2022-09-07 22:18] jrfnl opened #1347 "Proposal: drop support for PHPCS < 3.7.0/3.7.1"
## Introduction

The last three PHP releases, PHP 7.4, 8.0 and 8.1, introduced more syntax changes and new keywords in PHP than basically all PHP versions between PHP 5.0 to PHP 7.3 combined.

The amount of work to get all of these (tokenizer) changes accounted for and backfilled in PHPCS to allow for running PHPCS on older PHP versions, but still get the same token stream, was significant.

Along

[2022-09-07 22:45] jrfnl opened #1348 "Account for changes introduced in PHP 8.2"
This is just an issue to keep track of which of the [implemented RFCs for PHP 8.2](https://wiki.php.net/rfc#php_82) have been addressed.

This list should be updated when additional RFCs are accepted/implemented.

## To Do
- [ ] [Fetch properties of enums in const expressions](https://wiki.php.net/rfc/fetch_property_in_const_expressions)
- [ ] [MySQLi Execute Query](https://wiki.php.net/rfc/mysqli

[2022-09-12 11:03] MarkMaldaba commented on #1347
Hi Juliette,

Thanks for the comprehensive update.

It's not clear from the above how this decision affects the 10.0 release and why removing code that is already present would be quicker than not removing it.

My preference would be to release the work done so far, which presumably retains compatibility with older PHPCS versions, before you go about stripping-out backwards-compatibility code.  I

[2022-09-12 12:40] jrfnl commented on #1347
@MarkMaldaba Thanks for your thoughtful response.

There is currently still a backlog of PHP 8.0/8.1 features for which support needs to be added to a) PHPCSUtils and b) PHPCompatibility sniffs - including attributes and enums -.

Adding support for those new PHP 8.0/8.1 features is straight-forward if we don't have to support older PHPCS versions as we then have access to a consistent token strea

[2022-09-23 13:05] MarkMaldaba commented on #1347
Hi Juliette,

Thanks for the comprehensive reply.

Fair points, all of them.  But would that be worse than the current situation, where a lot of things are not being checked for and where there are some known issues that are misreported?  Genuine question - I would be interested to know how different the 10.x situation is from the current 9.x in terms of correctness, as I know there are a number o

[2022-09-24 00:19] jrfnl commented on #1347
@MarkMaldaba

Yes, IMO it would be as releasing now would not resolve that, but a "recent" release gives users the impression that it should.

The 10.0.0 release was **_never_** about being feature complete for a specific range of PHP versions, nor will it be.

New sniffs can be added in any minor, so missing sniffs is not what's holding the release back (at all).

There are plenty of issues in wh

[2022-09-26 08:58] MarkMaldaba commented on #1347
Hi Juliette,

Thank you for a very thorough summary of the issues behind the various decisions relating to the 10.0.0 release.  I've been following the project for years (as you know) and have generally read most stuff that has come in, but for whatever reason I hadn't understood the above background properly before now.

All of the above makes complete sense and, now I understand where this is co

[2022-09-26 13:39] jrfnl commented on #1347
@MarkMaldaba I'm glad to hear the additional explanations clarified sufficiently why this decision is needed.

With that, I will start the process of dropping support for PHPCS < 3.7.1 in the coming days.

Please do play with it and let us know how you get on. As I said before, we won't be providing support anymore for non-Composer based installs, but I can imagine adding a wiki article explaining

[2022-09-26 20:16] harikagujjula opened #1351 "The constant "T_BAD_CHARACTER" is removed since PHP 7.0"
## Bug Description

Running PHP compatibility check is resulting in the following errors with PHP 8.1.

nikic/php-parser/lib/PhpParser/Lexer.php

46 | ERROR | The constant "T_BAD_CHARACTER" is removed since PHP 7.0
109 | ERROR | The constant "T_BAD_CHARACTER" is removed since PHP 7.0
151 | ERROR | The constant "T_BAD_CHARACTER" is removed since PHP 7.0

This is supposedly added back in PHP 7.4.
Re

[2022-10-02 19:53] marekdedic opened #1353 "Usage of `str_ends_with` with PHP 7.4 not reported"
## Bug Description
Hi, I recently encountered an error on a PHP 7.4 server when running code that included the `str_ends_with` function that is only present in PHP 8+. Unfortunately, this issue wasn't caught by PHPCompatibility, which I think is a bug,

## Given the following reproduction Scenario

The issue happens when running this command:
[code]

... over a file containing this code:
[code]

.

[2022-10-02 21:24] jrfnl commented on #1353
Thanks for reporting this. This has already been fixed in `develop`.

Unfortunately the 10.0.0 release was delayed. We're working on getting it release-ready. If you want more up-to-date sniff results from PHPCompatibility, I'd recommend using the `develop` branch for the time being until the 10.0.0 version has been released.

[2022-10-02 21:24] #1353 closed, assigned to nobody

[2022-10-04 17:45] jkribeiro commented on #1344
Hi team, any news on it? I wouldn't want to use a `develop` version in production CI/CD tools.

[2022-10-04 17:57] jrfnl commented on #1344
@jkribeiro See #1347 and the associated PR. That should allow us to finish off the remaining work for PHPCompatibility 10.0.0.

[2022-10-07 21:44] #1347 closed, assigned to nobody

[2022-10-10 08:16] marekdedic commented on #1353
Oh, I didn't realise PHPCompatibility was so much out of date :O

I can't switch to develop unfortunately, so I'll have to wait... Any chance of doing a 9.X.Y to support newer syntax? I'd say being up to date with new php releases is crucial for a compatibility lint (although as a free-time oss developer I know that it is sometimes hard :( )

Thank you for your work and the quick response though!

[2022-10-10 11:09] wimg commented on #1353
10.0.0 will be the next release. There will not be a 9.x.x anymore, since it would take weeks to months of work to add that and it would include tons of false positives/negatives.
Better to do it right...

[2022-10-12 21:41] coopan opened #1358 "Question: How to confirm setting testVersion to 8.1 worked"
Using version 9.3.

Seems to work fine. I scan a directory and specific version 7.1 through 7.4 and it spits out some version-specific issues as expected. This is an example command I am using (7.4):

[code]

When I get to testing 8.0 through 8.2, I get identical results to 7.4. Which I find surprising on a pretty old codebase that's been on 7.x for years. Not sure whether to be happy or sceptical

[2022-10-12 22:13] jrfnl commented on #1358
Please use the `develop` branch for the time being when scanning code for PHP 8.0-8.2 compatibility. We're working hard to get the `10.0.0` release out of the door. PHPCompatibility 10.0.0 will contain a *lot* more PHP 8.0-8.2 checks.

[2022-10-12 22:19] jrfnl commented on #1358
That's by design. We don't maintain a list of "known" PHP versions, we do a `version_compare()` for each check based on the `testVersion` and the PHP version a check applies to.
Anything that was deprecated or removed in PHP 7.4, will still be deprecated or removed in PHP 8.8, so getting the same list is expected when running on PHPCompatibility 9.3, which doesn't contain the PHP 8.x checks yet.

[2022-10-12 22:24] coopan commented on #1358
Thanks for the quick reply! Setting my composer.json to this and running `composer update phpcompatibility/php-compatibility` gives me a lot more warnings on PHP 8.

[code]

And minimum stability in composer.json to dev

[code]

Thanks again!

[2022-10-12 22:24] #1358 closed, assigned to nobody

[2022-10-12 22:43] jrfnl commented on #1358
You're welcome and I'd say: keep a look-out for PHPCompatibility 10.0.0. If you watch releases on this repo, you'll automatically get notified when it drops.

[2022-10-23 21:57] harryqt opened #1361 "Usage of Union return types do not trigger errors on <8.0 tests"
## Bug Description

## Given the following reproduction Scenario

The issue happens when running this command:

[code]

... over a file containing this code:
[code]

### I'd expect the following behavior

Show errors of using Union return types as its [became available](https://www.php.net/manual/en/language.types.declarations.php#language.types.declarations.composite.union) since PHP 8.0

### Ins

[2022-10-24 03:14] jrfnl commented on #1361
Thanks for reporting this. It's in the pipeline, coming soon. In the mean time, for anything PHP 8.0/8.1 related, please use the `develop` branch as that will contain the most recent additions.

[2022-10-26 09:11] jrfnl commented on #1343
@mbomb007 FYI: PHPCSUtils 1.0.0-alpha4 has been released. If you would currently update PHPCompatibility (`composer update phpcompatibility/php-compatibility --with-[all-]dependencies`), and then run PHPCS again, the error should automatically be gone.

[2022-10-26 09:41] jrfnl commented on #1345
@MPParsley The above has now been implemented - see PR #1366. Testing appreciated.

FYI: When testing, please ensure you update PHPCompatibility `develop` using `composer update phpcompatibility/php-compatibility --with-[all-]dependencies`.

[2022-10-26 11:32] MPParsley commented on #1345
Thanks for the fix, it looks good!

If it's merged into develop or create an alpha/beta release I can test it.
There seems to be an issue with composer complaining about stability testing the feature branch:

[code]

```composer require --dev phpcompatibility/phpcompatibility:dev-feature/1345-validintegers-prevent-false-positive```

The package is not available in a stable-enough version according

[2022-10-26 13:29] mbomb007 commented on #1343
I don't see what you mean. You haven't yet tagged a new release for phpcompatibility/php-compatibility. The last release was 9.3.5, in 2019.

[2022-10-26 13:33] jrfnl commented on #1343
Well, as you tested with `develop` before (or at least checked the checkbox that you did), I presumed you were using the `develop` branch and should be able to see that this has been fixed.

[2022-10-26 13:39] jrfnl commented on #1345
@MPParsley Hmm.. I may need to look into that, but as for the PR - give it a few days to get merged. You should get a notification that the issue is closed once it's been merged, so that should tell you that you can test with `develop`.

[2022-10-26 13:50] mbomb007 commented on #1343
I can't get the coding standard to show up when I run `phpcs -i` to test it. All my other standards show up.

Here's my composer.json:

[code]

I ran `composer update -W`, then `phpcs -i`. It outputs:

`The installed coding standards are MySource, PEAR, PSR1, PSR2, PSR12, Squiz, Zend, Drupal, DrupalPractice, VariableAnalysis and SlevomatCodingStandard`

[2022-10-26 14:04] jrfnl commented on #1343
Could you check the Composer output ? - I would expect there to be an error.

Try changing:
[code]
to:
[code]

[2022-10-26 15:30] mbomb007 commented on #1343
There was no error. Those branch names are aliases of each other.

[2022-10-26 15:51] jrfnl commented on #1343
Interesting.

Well, I've just tested and cannot reproduce what you are saying about the standard not registering.

Here is the transcript:
[code]

[2022-10-26 15:56] mbomb007 commented on #1343
I deleted my vendor folder and lock file, then tried again:

[code]

Even the folder is correctly added `../../phpcompatibility/php-compatibility`, but the ruleset doesn't show up.

[2022-10-26 15:57] mbomb007 commented on #1343
So if I can't figure it out, someone else will have to test that the issue is fixed.

[2022-10-26 16:23] jrfnl commented on #1343
@mbomb007 Just for arguments sake - can you try with `vendor/bin/phpcs -i` ? There could be a global PHPCS install somewhere which is interfering.

Also, I see some differences between the install transcripts. Which PHP version did you use ? I can try and see if that makes a difference when reproducing.

[2022-10-26 16:25] jrfnl commented on #1343
Oh and what might also be useful, is if you could run both `phpcs --config-show` and `vendor/bin/phpcs --config-show`.
That should be able to give a definitive answer on whether there is a global PHPCS install interfering.

The most pertinent thing to look for, would be the path listed after `Using config file: ...`.

[2022-10-26 16:27] mbomb007 commented on #1343
Ah, yeah there is a "higher" phpcs. Using `vendor/bin/phpcs` shows the standard was installed.

[2022-10-26 16:40] mbomb007 commented on #1343
I think the issue is fixed now. The only error on that file I see now is "Missing file doc comment", which is also something that needs to be adjusted in the sniffs, as enums are more like classes in that manner, not needing file comments.

Reverting back to the composer installs I had before shows the errors again, so I confirm that the issue is fixed in the newer versions.

[2022-10-26 16:42] mbomb007 commented on #1343
Will there be a new release soon?

[2022-10-26 17:03] jrfnl commented on #1343
@mbomb007 That's the intention.

[2022-10-28 05:51] #105 closed

[2022-10-28 05:52] #1345 closed, assigned to jrfnl

[2022-10-28 21:43] #1343 closed, assigned to nobody

[2022-10-29 06:18] stalukder03 opened #1397 "phpcs: Uncaught Error: Class 'PHPCSUtils\Tokens\Collections' not found"
Getting the following error on VS Code.

phpcs: Uncaught Error: Class 'PHPCSUtils\Tokens\Collections' not found in /home/sajib/Utilities/phpcompatibility/PHPCompatibility/Sniffs/Miscellaneous/RemovedAlternativePHPTagsSniff.php:56

[2022-10-29 07:03] stalukder03 commented on #1397
Fixed. It was called in the wrong way.

[2022-10-29 07:03] #1397 closed, assigned to nobody

[2022-10-31 08:25] BhargavBhandari90 commented on #1397
Is this merged in `develop` branch OR what was wrong?
I am still getting this error
![image](https://user-images.githubusercontent.com/19459637/198963951-2a682c90-5278-4cd0-a215-3495690f8d73.png)

My PHP version:
![image](https://user-images.githubusercontent.com/19459637/198964087-68e25b1a-9f77-44a4-8c7c-a965ee60a301.png)

[2022-10-31 08:34] jrfnl commented on #1397
@BhargavBhandari90 How did you install PHPCompatibility ? For `develop` only Composer is supported and you need to use `composer update phpcompatibility/php-compatibility --with-dependencies` to update (and depending on your `composer.json`, you may need to use `--with-all-dependencies`).

[2022-10-31 08:35] BhargavBhandari90 commented on #1397
I've cloned the repo and ran `composer install`

[2022-10-31 08:48] jrfnl commented on #1397
@BhargavBhandari90 In that case, run `composer update` on your clone and make sure you run PHPCS from the `vendor` directory of PHPCompatibility, like so: `path/to/phpcompatibility/vendor/bin/phpcs`

[2022-10-31 09:02] stalukder03 commented on #1397
@BhargavBhandari90

I have updated the installed_paths from the global composer /home/user/.ssh/composer/vendor/phpcompatibility/php-phpcompatibility/ instead of cloning the repo inside the home folder.

That's how I resolved the problem. I think @jrfnl 's solutions might work. I never knew/try that it should be updated after cloning. So i moved to that way. Give it a try that @jrfnl wrote above.

[2022-10-31 09:04] BhargavBhandari90 commented on #1397
Trying....

[2022-10-31 09:06] BhargavBhandari90 commented on #1397
It worked guys. Thanks for your help

[2022-10-31 09:07] stalukder03 commented on #1397
Which one did help you to get this resolved?

[2022-10-31 09:07] jrfnl commented on #1397
Well, you don't need to if you only just cloned the repo, but if you cloned it a while back and regularly pull in changes made in the repo, then yes, you once in a while have to also run `composer update` as the dependencies declared for the repo may have changed/received new releases (which is definitely the case for this repo).

[2022-10-31 09:30] BhargavBhandari90 commented on #1397
I ran phpcs from clonned repo and it worked.

[2022-11-01 18:05] #1024 closed, assigned to jrfnl

[2022-11-01 21:30] jrfnl commented on #1226
**Update:**

Now support for PHPCS < 3.7.1 has been dropped, this issue will not affect the sniff results until we need to start supporting PHPCS 4.x.

With that in mind, I've changed the milestone for this task list from `10.0.0` to "Future release".

It would still be good to add support for this _ahead_ of PHPCS 4.x, but the urgency to fix this is gone.

[2022-11-01 21:34] jrfnl commented on #79
Closing this issue now as #1024 has been actioned and closed and no further response was received on this issue.

[2022-11-01 21:34] #79 closed

[2022-11-01 22:05] #1341 closed, assigned to nobody

[2022-11-02 21:34] jrfnl opened #1404 "Review codebase for use of whitelist/blacklist terminology"
... and replace it with more appropriate names.

[2022-11-03 12:00] jrfnl commented on #1301
Source: https://github.com/WordPress/wordpress-develop/pull/3555#discussion_r1012766621

Just ran into this one _again_. I still can't really find a relevant RFC, but I now think this is directly related to the addition of the ability to declare constant arrays in PHP. Doesn't look like either of those changes were handled via an RFC though, so finding the exact specs of the change will be sketchy

[2022-11-09 16:41] matdave opened #1409 "Set the error level"
## Is your feature request related to a problem?
I would like the ability to set the error level for the report. While warnings are helpful, they aren't necessarily the first thing I want to tackle. The current results require a lot of review when scanning a full site for potential issues.

## Describe the solution you'd like
It would be helpful to set the error level to return, e.g. show warnings

[2022-11-09 16:53] jrfnl commented on #1409
@matdave That's default build-in functionality (in PHPCS) which is already available.

1. To ignore warnings and just see errors, you can use the `-n` flag.
2. To more granually manage this, you could use any of these options: `--severity=<severity>`, `--error-severity=<severity>`, `--warning-severity=<severity>`.
    Note: the default severity for both errors and warnings in PHPCS is `5` and PHPC

[2022-11-09 16:53] matdave commented on #1409
I think I might have answered my own question, this is set in the phpcs and not the compatibility checker, e.g. `phpcs --config-set show_warnings 0` or by setting the individual severity levels https://github.com/squizlabs/PHP_CodeSniffer/wiki/Configuration-Options#changing-the-default-severity-levels

[2022-11-09 16:53] #1409 closed, assigned to nobody

[2022-11-09 17:45] jrfnl commented on #1409
@matdave Glad to hear it!

One remark - changing the default severity levels via the config in a PHPCS install has influence on _all_ runs, while changing it via the command line or via a custom ruleset will limit that influence to a specific run or to all runs for a certain project, which is why I generally advise the latter two options rather than the config option.

[2022-11-15 21:26] stevenmunro opened #1410 "ERROR: option "-�" not known"
## Bug Description

I'm getting the error

``ERROR: option "-�" not known``

## Given the following reproduction Scenario

[code]

The issue happens when running this command:

[code]

### I'd expect the following behaviour

To see normal output.

### Instead this happened

The above error message.

## Environment

| Environment              | Answer
| ------------------------ | -------
| PHP vers

[2022-11-15 21:47] jrfnl commented on #1410
@stevenmunro This not a problem with PHPCS or PHPCompatibility, but with some non-ascii dash character in the command you are passing.

I copy/pasted the command you mentioned above and got the same results.

I then typed in the command mannually and all was working fine.

This is the diff between the above command and my manually typed command (with the problem character circled):
![image](https:

[2022-11-15 22:02] stevenmunro commented on #1410
@jrfnl Superstar!

[2022-11-15 22:11] jrfnl commented on #1410
@stevenmunro I presume that means you got things working and the issue can be closed ?

[2022-11-15 22:12] stevenmunro commented on #1410
Yes. Thank you.

[2022-11-15 22:24] #1410 closed, assigned to nobody

[2022-11-17 13:57] aik099 opened #1411 "Signature change of ArrayAccess/Iterator causes a deprecation warning"
## Is your feature request related to a problem?

Some time ago the declarations of the iterator-related interfaces (e.g. `Interator`, `ArrayAccess` and likely others) were changed to enforce return type. After the change on PHP 8.1 I'm getting deprecation notices like these:

[code]

for a code like this:

[code]

## Describe the solution you'd like

I have no idea what RFC did this, sorry. As a

[2022-11-17 15:04] jrfnl commented on #1411
Thanks for opening this issue @aik099 .

The related RFC is https://wiki.php.net/rfc/internal_method_return_types

It is going to be tricky to sniff this, though probably doable for the most common cases.

Notes for when a sniff will be developed for this:
* Check class declaration signature for `extends` and `implements` and check if the extended classes/implemented interfaces are PHP native ones

[2022-11-18 08:02] aik099 commented on #1411
Sounds right. Thank you.

Looking at RFC I wasn't able to figure out what internal classes/interfaces were affected by it. Probably sniff just needs to look if the extended class/implemented interface is internal in general and then do array_intersect on its methods and methods of a class to get the scope to process.

[2022-11-18 10:07] jrfnl commented on #1411
AFAIK it affects all internals where return types could be added, i.e. when the return type is not `resource` or a type which can't be expressed - very few of those left -.
In most cases, this doesn't affect userland code. Think: global functions, final or private class methods in PHP native classes.

It affects userland code where the methods are implemented in userland code (PHP native interface

[2022-11-23 10:52] contentrail opened #1412 "False positive warning for Enum classes with methods"
## Bug Description

Compatibility check against Enum classes with methods provides wrong warnings:
`"$this" can no longer be used in a plain function or method since PHP 7.1.`

## Given the following reproduction Scenario

The issue happens when running this command:

[code]

... over a file containing this code:
[code]

### I'd expect the following behaviour
Provided enum class is completely comp

[2022-11-23 11:04] jrfnl commented on #1412
Closing this as a duplicate of #1343, which has already been fixed by the upgrade to PHPCSUtils 1.0.0-alpha4. Also see #1364.

P.S.: please don't check the "_I have verified the issue still exists in the `develop` branch of PHPCompatibility._" checkbox if you haven't checked.

[2022-11-23 11:04] #1412 closed, assigned to nobody

[2022-11-26 07:39] AbmSourav opened #1413 "Not scanning codes properly for PHP 8.1 compatibility"
My custom ruleset is

[code]

In my `file.php`, I have `function returnIntValue($a, $b = [], $c): int {` this function, which is optional parameter error in PHP 8.1.
But when I'm running `./vendor/bin/phpcs ./file.php`, PHPCS is not showing any error list.
PHPCompatibility is available in "installed coding standards" list.

[2022-11-26 13:10] jrfnl commented on #1413
@AbmSourav Are you using `9.3.5` ? or `develop` ? `9.3.5` was released long before PHP 8.0 and we're working hard to get a new release out the door, but we're not there yet. For PHP 8.x related checks, please use the `develop` branch for the time being. There are other (open/closed) issues with information on how to do so.

[2022-11-28 15:43] #1413 closed, assigned to nobody